<div class="media row mb-3" *ngIf="comment.author && comment.text">
  <div class="media-heading col-12 mb-2" (click)="toggleExpanded()">
    <i class="fa" [ngClass]="{'fa-plus-square':!expanded, 'fa-minus-square':expanded}"></i>
    <span class="ml-2 label label-info">by {{comment.author}} {{formatTime}} ago</span>
  </div>

  <div class="panel-collapse col-12" [ngClass]="{'collapse':!expanded}">

    <div class="media-body">
      <p class="mb-3" [innerHTML]="comment.text"></p>

      <app-comment *ngFor="let child of comment.children" [comment]="child"></app-comment>

    </div>
  </div>
</div>
