.media {
  border-left: 1px dotted #000;
  border-bottom: 1px dotted #000;
  margin-bottom: 5px;
  padding-left: 10px;

  .media-heading {
    font-size: 12px;
    color: grey;
    &:hover {
      cursor: pointer;
    }
  }
}
