<div class="row">
  <div class="col-12 card post">
    <div class="card-body p-4">
      <div class="row align-items-center">
        <div class="col-3 text-center">
          <div class="avatar mb-1"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
          <div class="username">{{post.author}}</div>
        </div>
        <div class="col-7 post-body"><h3>{{post.title}}</h3></div>
        <div class="col-2 points">{{formatPoints()}}</div>
      </div>
    </div>
  </div>
</div>
