@import '../../../@theme/styles/colors';
@import '../../../@theme/styles/variables';

/deep/ .post {
  .avatar {
    font-size: 54px;
  }
  .points {
    font-size: 18px;
    font-weight: $bold;
    color: $green;
  }
}
