<div class="post-list-container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()"
>
  <div class="post-container mb-3" *ngFor="let post of posts">
    <app-post (click)="navigateToPost(post.objectID)" [post]="post"></app-post>
  </div>
</div>
