@import '../../@theme/styles/colors';
@import '../../@theme/styles/variables';

.post-container {
  &:hover {
    /deep/ .post {
      cursor: pointer;
      background: $transparentBlue;
    }
  }
}
