<div class="container-fluid header py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <i class="fa fa-hacker-news" aria-hidden="true"></i>
        <span class="ml-2">Hacker News{{title}}</span>
      </div>
    </div>
  </div>
</div>
