@import '../../../@theme/styles/colors';
@import '../../../@theme/styles/variables';

.header {
  background:
    radial-gradient(transparent 37%, $grey 35%, $grey 70%, transparent 70%) 4px 4px,
    radial-gradient(black 30%, transparent 32%) 0 0,
    radial-gradient(rgba(255,255,255,.1) 30%, transparent 40%) 0 1px;
  z-index: 1;
  background-color:$grey;
  background-size:16px 16px,8px 8px,8px 8px;
  font-size: $large;
  font-weight: bold;
  color: $white;
  position: fixed;
}
