<div class="go-back-btn">
  <div class="col-12 py-2" (click)="goToMain()">
    <i class="fa fa-long-arrow-left mr-1" aria-hidden="true"></i><span>go back</span>
  </div>
</div>
<div *ngIf="post">
  <div class="post-container mb-3">
    <app-post [post]="post"></app-post>
  </div>
  <div class="comment-list-container ">
    <div class="comment-thread" *ngFor="let comment of post.children">
      <app-comment [comment]="comment"></app-comment>
    </div>
  </div>
</div>
